header {
  height: 100px;
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
}

span.signIn {
  font-size: 1.3em;
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #000;
}

.title {
  color: orange;
  text-shadow: 0 3px 3px rgba(245, 179, 35, 0.5);
  font-size: 1.2em;
}
