/* You can add global styles to this file, and also import other style files */
body {
  position: relative;
}

.container {
  width: 100%;
  margin-top: 100px;
}

.background-image {
  width: 100%;
  height: 90vh;
  margin-top: 70px;
}
