<header>
  <nav class="nav nav-bar">
    <ul class="unordered-list">
      <li class="nav-item">
        <a
          class="nav-link text-success fw-bold fs-3"
          routerLink="/"
          routerLinkActive="text-light border-1 border-black"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="mango">Mango</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ice cream">Ice Cream</a>
      </li>
    </ul>
  </nav>
</header>
