<header>
  <nav class="nav nav-bar">
    <ul class="unordered-list">
      <li class="nav-item">
        <a
          class="nav-link text-success fw-bold fs-3"
          routerLink="/"
          routerLinkActive="text-light border-1 border-black"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="popcorn">popcorn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="hamburger">hamburger</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cake">cake</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="fries">fries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cookies">cookies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="croissant">croissant</a>
      </li>
    </ul>
  </nav>
</header>
