header {
  height: 100px;
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
}
h2 {
  transition: transform 0.3s ease-in;
  cursor: pointer;
}
h2:hover {
  transform: translateY(-2px);
}
