<header>
  <h2 class="text-danger fw-bold" routerLink="/home">Home</h2>
</header>

<div class="container" *ngIf="cartProducts.length">
  <app-card
    *ngFor="let product of cartProducts"
    [meal]="product"
    [cartProducts]="cartProducts"
    (showDetailsModal)="showModal($event)"
    page="cart"
  ></app-card>
</div>

<div
  class="custom-modal-wrapper d-flex justify-content-center align-items-center"
  *ngIf="selectedMeal"
>
  <div class="custom-modal bg-light">
    <span
      (click)="selectedMeal = null"
      class="close d-flex justify-content-center align-items-center fs-1 fw-bold"
      >&times;</span
    >
    <div class="card">
      <img [src]="selectedMeal.image" />
      <h3>{{ selectedMeal.title }}</h3>
      <p>{{ selectedMeal.description }}</p>
    </div>
  </div>
</div>
