<div class="footer p-2-3">
  <div class="d-flex flex-column">
    <p class="text-light text-center">
      © 2023 Your Company. All rights reserved.
    </p>

    <div class="d-flex justify-content-around align-items-center">
      <div class="contact">
        <b class="text-light">Follow us!</b>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#" class="text-light">Facebook</a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-light">Twitter</a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-light">Instagram</a>
          </li>
        </ul>
      </div>

      <div class="about text-align-right">
        <b class="text-center">About us!</b>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro</p>
      </div>
    </div>
  </div>
</div>
